{
    "singleQuote": true,
    "tabWidth": 4,
    "attributeGroups": [
        "$ANGULAR_STRUCTURAL_DIRECTIVE",
        "^class$",
        "$DEFAULT",
        "$ANGULAR_INPUT",
        "$ANGULAR_TWO_WAY_BINDING",
        "$ANGULAR_OUTPUT"
    ],
    "attributeSort": "ASC"
}
