<form [formGroup]="loginForm">
    <h1 class="tui-space_bottom-10 tui-left-1">Смена пароля</h1>

    <tui-input-password
        class="tui-form__row"
        formControlName="password"
    >
        Старый пароль
        <span class="tui-required"></span>
    </tui-input-password>

    <tui-input-password
        class="tui-form__row"
        formControlName="newPassword"
    >
        Новый пароль
        <span class="tui-required"></span>
    </tui-input-password>
    <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
    ></tui-error>

    <button
        style="width: 100%"
        class="tui-form__row tui-space_bottom-3"
        (click)="submit()"
        tuiButton
    >Войти</button>
</form>
