@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-flow: column;
}

tr {
    position: relative;
}

.table-status {
    position: absolute;
    left: -10px;
    top: 6px;
    bottom: 6px;
    width: 4px;
    border-radius: 2px;
    border: none !important;
}

.row {
    display: flex;
    align-items: center;
}

.search {
    max-width: 512px;
}

.legend {
    margin-left: auto;
    display: flex;
    gap: 1.5rem;

    &__item {
        display: flex;
        align-items: center;
    }

    .circle {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: .5rem;
    }
}

.color {
    &_default {
        border: solid 1px black;
        &:hover td {
            background-color: var(--tui-base-03);
        }
    }

    &_yellow {
        background: var(--tui-support-11);
        &:hover td {
            background-color: var(--tui-support-11);
        }
    }

    &_blue {
        background: var(--tui-support-01);
        &:hover td {
            background-color: var(--tui-support-01);
        }
    }

    &_green {
        background: var(--tui-support-15);
        &:hover td {
            background-color: var(--tui-support-15);
        }
    }

    &_red {
        background: var(--tui-support-05);
        &:hover td {
            background-color: var(--tui-support-05);
        }
    }
}

tui-reorder {
    width: 16rem;
}

td {
    transition: .3s;
}

@media @tui-mobile {
    .row {
        flex-flow: column;
        align-items: start;
    }

    .legend {
        flex-flow: column;
        margin-left: 0;
        margin-top: 2rem;
    }
}
