<mnr-crm-back-nav
    class="tui-space_bottom-8"
    (click)="back()"
></mnr-crm-back-nav>

<form *tuiLet="references$ | async as references" [formGroup]="form">
    <div class="tui-row tui-row_adaptive">
        <div class="tui-col_lg-6 tui-col_md-8 tui-col_xs-12">
            <h3 class="tui-form__header tui-form__header_margin-top_none">Заполните форму</h3>
            <div *ngIf="displayedControls.status" class="tui-form__row">
                <tui-select
                    class="tui-space_top-2"
                    formControlName="status"
                    [valueContent]="refStringifyArr(statusReference)"
                >
                    Выберите статус
                    <span class="tui-required"></span>
                    <ng-template tuiDataList>
                        <tui-data-list>
                            <button
                                *ngFor="let item of statusReference"
                                tuiOption
                                [value]="item.id"
                            >
                                {{ item.label }}
                            </button>
                        </tui-data-list>
                    </ng-template>
                </tui-select>

                <tui-error
                    formControlName="payType"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div *ngIf="displayedControls.responsible" class="tui-form__row">
                <tui-combo-box
                    [strict]="true"
                    formControlName="responsible"
                    [stringify]="refStringify"
                >
                    Ответственный
                    <span class="tui-required"></span>
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="references!.responsibles | tuiFilterByInputWith: refStringify"
                        [itemContent]="refStringify | tuiStringifyContent"
                    ></tui-data-list-wrapper>
                </tui-combo-box>
                <tui-error
                    formControlName="responsible"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.vendor" class="tui-form__row">
                <tui-combo-box
                    [strict]="true"
                    formControlName="vendor"
                    [stringify]="refStringify"
                >
                    Продавец
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="references!.vendors | tuiFilterByInputWith: refStringify"
                        [itemContent]="refStringify | tuiStringifyContent"
                    ></tui-data-list-wrapper>
                </tui-combo-box>
                <tui-error
                    formControlName="vendor"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.buyer" class="tui-form__row">
                <tui-combo-box
                    [strict]="true"
                    formControlName="buyer"
                    [stringify]="refStringify"
                >
                    Покупатель
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="references!.buyers | tuiFilterByInputWith: refStringify"
                        [itemContent]="refStringify | tuiStringifyContent"
                    ></tui-data-list-wrapper>
                </tui-combo-box>
                <tui-error
                    formControlName="buyer"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.vehicle" class="tui-form__row">
                <tui-combo-box
                    [strict]="true"
                    formControlName="vehicle"
                    [stringify]="refStringify"
                >
                    Транспортное средство
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="references!.vehicles | tuiFilterByInputWith: refStringify"
                        [itemContent]="refStringify | tuiStringifyContent"
                    ></tui-data-list-wrapper>
                </tui-combo-box>
                <tui-error
                    formControlName="vehicle"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.driver" class="tui-form__row">
                <tui-combo-box
                    [strict]="true"
                    formControlName="driver"
                    [stringify]="refStringify"
                >
                    Водитель
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="references!.drivers | tuiFilterByInputWith: refStringify"
                        [itemContent]="refStringify | tuiStringifyContent"
                    ></tui-data-list-wrapper>
                </tui-combo-box>
                <tui-error
                    formControlName="driver"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.product" class="tui-form__row">
                <tui-combo-box
                    [strict]="true"
                    formControlName="product"
                    [stringify]="refStringify"
                >
                    Продукт
                    <input tuiTextfield/>
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="references!.products | tuiFilterByInputWith: refStringify"
                        [itemContent]="refStringify | tuiStringifyContent"
                    ></tui-data-list-wrapper>
                </tui-combo-box>
                <tui-error
                    formControlName="product"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.count" class="tui-form__row">
                <tui-input-number
                    formControlName="count"
                    postfix="л"
                    class="tui-space_top-2"
                >
                    Объем
                    <input
                        id="count"
                        tuiTextfield
                    />
                </tui-input-number>
                <tui-error
                    formControlName="count"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.weight" class="tui-form__row">
                <tui-input-number
                    formControlName="weight"
                    postfix="т"
                    class="tui-space_top-2"
                >
                    Вес
                    <input
                        id="weight"
                        tuiTextfield
                    />
                </tui-input-number>
                <tui-error
                    formControlName="weight"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.price" class="tui-form__row">
                <tui-input-number
                    formControlName="price"
                    postfix="₽"
                    class="tui-space_top-2"
                >
                    Цена за литр
                    <input
                        id="price"
                        tuiTextfield
                    />
                </tui-input-number>
                <tui-error
                    formControlName="price"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.density" class="tui-form__row">
                <tui-input-number
                    formControlName="density"
                    class="tui-space_top-2"
                >
                    Плотность
                    <input
                        id="density"
                        tuiTextfield
                    />
                </tui-input-number>
                <tui-error
                    formControlName="density"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.temperature" class="tui-form__row">
                <tui-input-number
                    formControlName="temperature"
                    class="tui-space_top-2"
                >
                    Температура
                    <input
                        id="temperature"
                        tuiTextfield
                    />
                </tui-input-number>
                <tui-error
                    formControlName="temperature"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>


            <div *ngIf="displayedControls.plomb" class="tui-form__row">
                <tui-input
                    formControlName="plomb"
                >
                    Пломба
                </tui-input>
                <tui-error
                    formControlName="plomb"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.payType" class="tui-form__row">
                <tui-select
                    class="tui-space_top-2"
                    formControlName="payType"
                    [valueContent]="refStringifyArr(payTypesReference)"
                >
                    Выберите тип оплаты
                    <ng-template tuiDataList>
                        <tui-data-list>
                            <button
                                *ngFor="let item of payTypesReference"
                                tuiOption
                                [value]="item.id"
                            >
                                {{ item.label }}
                            </button>
                        </tui-data-list>
                    </ng-template>
                </tui-select>

                <tui-error
                    formControlName="payType"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.address" class="tui-form__row">
                <tui-input
                    formControlName="address"
                >
                    Адрес
                </tui-input>
                <tui-error
                    formControlName="address"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.phone" class="tui-form__row">
                <tui-input-phone formControlName="phone">
                    Телефон
                    <input
                        tuiTextfield
                        autocomplete="tel"
                    />
                </tui-input-phone>
                <tui-error
                    formControlName="phone"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div *ngIf="displayedControls.date" class="tui-form__row">
                <tui-input-date
                    tuiUnfinishedValidator="Finish filling the field"
                    formControlName="date"
                >
                    Дата
                </tui-input-date>
                <tui-error
                    formControlName="date"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div class="tui-form__buttons">
                <button
                    tuiButton
                    size="l"
                    type="submit"
                    class="tui-form__button"
                    (click)="save()"
                >
                    Подтвердить
                </button>
                <button
                    tuiButton
                    type="button"
                    appearance="flat"
                    size="l"
                    class="tui-form__button"
                    (click)="back()"
                >
                    Отмена
                </button>
            </div>
        </div>
    </div>
</form>
