<div class="tui-text_h3 tui-space_bottom-8">Сотрудники</div>

<div class="row tui-space_bottom-8">
    <button
        tuiButton
        size="m"
        iconRight="tuiIconPlus"
        (click)="create()"
    >Добавить</button>
</div>

<ng-container *ngIf="isMobile">
    <mnr-crm-item-card *ngFor="let item of data$ | async">
        <tui-hosted-dropdown
            [(open)]="menu[item.id!]"
            class="item-card-menu"
            tuiDropdownAlign="left"
            [content]="menuTpl"
        >
            <button
                tuiIconButton
                icon="tuiIconMoreVer"
                shape="rounded"
                appearance="icon"
                size="xs"
            ></button>
        </tui-hosted-dropdown>
        <mnr-crm-item-card-prop
            label="Username"
            [description]="item.username"
        ></mnr-crm-item-card-prop>
        <mnr-crm-item-card-prop
            label="ФИО"
            [description]="item.fio"
        ></mnr-crm-item-card-prop>
        <mnr-crm-item-card-prop
            label="Телефон"
            [description]="item.phone"
        ></mnr-crm-item-card-prop>
        <mnr-crm-item-card-prop
            label="Почта"
            [description]="item.mail"
        ></mnr-crm-item-card-prop>
        <mnr-crm-item-card-prop
            label="Роль"
            [description]="item.role | userRoleStringify"
        ></mnr-crm-item-card-prop>
    </mnr-crm-item-card>
</ng-container>

<table *ngIf="!isMobile" class="tui-table">
    <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none">
        <th class="tui-table__th tui-table__th_first">Username</th>
        <th class="tui-table__th">ФИО</th>
        <th class="tui-table__th">Телефон</th>
        <th class="tui-table__th">Почта</th>
        <th class="tui-table__th">Роль</th>
        <th class="tui-table__th tui-table__th_last"></th>
    </tr>
    <tr *ngFor="let item of data$ | async" class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td tui-table__td_first">{{item.username}}</td>
        <td class="tui-table__td">{{item.fio}}</td>
        <td class="tui-table__td">{{item.phone}}</td>
        <td class="tui-table__td">{{item.mail}}</td>
        <td class="tui-table__td">{{item.role | userRoleStringify}}</td>
        <td class="tui-table__td tui-table__td_last">
            <tui-hosted-dropdown
                [(open)]="menu[item.id!]"
                class="menu tui-space_right-1"
                tuiDropdownAlign="left"
                [content]="menuTpl"
            >
                <button
                    tuiIconButton
                    icon="tuiIconMoreVer"
                    shape="rounded"
                    appearance="icon"
                    size="xs"
                ></button>
            </tui-hosted-dropdown>
        </td>
    </tr>
    </tbody>
</table>

<ng-template #menuTpl>
    <tui-data-list>
        <button
            *ngFor="let item of context"
            tuiOption
            (click)="item.action()"
        >
            {{item.label}}
        </button>
    </tui-data-list>
</ng-template>
