<div class="tui-text_h3 tui-space_bottom-8">Приходы</div>

<div class="row tui-space_bottom-8">
    <button
        tuiButton
        size="m"
        iconRight="tuiIconPlus"
        (click)="create()"
    >Добавить</button>
</div>

<ng-container *ngIf="isMobile">
    <mnr-crm-item-card *ngFor="let item of data$ | async">
        <tui-hosted-dropdown
            [(open)]="menu[item.id!]"
            class="item-card-menu"
            tuiDropdownAlign="left"
            [content]="menuTpl"
        >
            <button
                tuiIconButton
                icon="tuiIconMoreVer"
                shape="rounded"
                appearance="icon"
                size="xs"
            ></button>
        </tui-hosted-dropdown>
        <mnr-crm-item-card-prop
            label="Организация"
            [description]="item.company"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Вид топлива"
            [description]="item.fuel"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Количество"
            [description]="item.count"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Плотность"
            [description]="item.density"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Температура"
            [description]="item.temperature"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Масса"
            [description]="item.weight"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Вид прихода"
            [description]="item.weight"
        ></mnr-crm-item-card-prop>

        <mnr-crm-item-card-prop
            label="Дата"
            [description]="item.date | date:'dd.MM.yyyy'"
        ></mnr-crm-item-card-prop>
    </mnr-crm-item-card>
</ng-container>

<table *ngIf="!isMobile" class="tui-table">
    <tbody>
    <tr class="tui-table__tr tui-table__tr_border_none">
        <th class="tui-table__th tui-table__th_first">Организация</th>
        <th class="tui-table__th">Вид топлива</th>
        <th class="tui-table__th">Количество</th>
        <th class="tui-table__th">Плотность</th>
        <th class="tui-table__th">Температура</th>
        <th class="tui-table__th">Масса</th>
        <th class="tui-table__th">Вид прихода</th>
        <th class="tui-table__th">Дата</th>
        <th class="tui-table__th tui-table__th_last"></th>
    </tr>
    <tr *ngFor="let item of data$ | async" class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td tui-table__td_first">{{item.company}}</td>
        <td class="tui-table__td">{{item.fuel}}</td>
        <td class="tui-table__td">{{item.count}}</td>
        <td class="tui-table__td">{{item.density}}</td>
        <td class="tui-table__td">{{item.temperature}}</td>
        <td class="tui-table__td">{{item.weight}}</td>
        <td class="tui-table__td">{{item.type | incomeTypeStringify}}</td>
        <td class="tui-table__td">{{item.date | date:"dd.MM.yyyy"}}</td>
        <td class="tui-table__td tui-table__td_last">
            <tui-hosted-dropdown
                [(open)]="menu[item.id!]"
                class="menu tui-space_right-1"
                tuiDropdownAlign="left"
                [content]="menuTpl"
            >
                <button
                    tuiIconButton
                    icon="tuiIconMoreVer"
                    shape="rounded"
                    appearance="icon"
                    size="xs"
                ></button>
            </tui-hosted-dropdown>
        </td>
    </tr>
    </tbody>
</table>

<ng-template #menuTpl>
    <tui-data-list>
        <button
            *ngFor="let item of context"
            tuiOption
            (click)="item.action()"
        >
            {{item.label}}
        </button>
    </tui-data-list>
</ng-template>

